a, a:hover, a:visited {
    border: none;
    outline: none;
    color: inherit;
    text-decoration: none;
}
body {
    position: fixed;
    overflow: hidden;
    font-weight: normal;
    font-family: sans-serif;
    font-size: larger;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
body,div {
    display: flex;
    padding: 0px;
    border: 0px;
    margin: 0px;
}
div {
    position: relative;
}
button {
    outline: none;
    border: 1px solid #ccc;
    border-radius: 3px;
    background-color: #eee;
    padding: 2px 7px 3px 7px;
    margin: 1px;
    margin-bottom: 2px;
}
button:hover {
    background-color: #aaa;
    color: black;
}
button[load] {
    width: 100%;
    text-align: left;
}
button[del] {
    margin-left: 5px;
}
input {
    background-color: #eee;
    margin-bottom: 1px;
    text-align: right;
    border: 1px solid #bbb;
}
input:focus {
    background-color: #fec;
    outline: none;
}
input[disabled] {
    background-color: #ccc;
    color: #000;
    border-width: 1px;
}
input[type="range"] {
    width: 85px;
    background-color: transparent;
}
input[type=range]::-moz-focus-outer {
    border: 0;
}
select {
    outline: none;
}
select {
    border: 1px solid #bbb;
    background-color: #eee;
    margin-bottom: 1px !important;
    border-radius: 3px;
}
th, tr, td, span, div, label, button {
    user-select: none;
}
.noselect {
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.row {
    flex-direction: row;
}
.col {
    flex-direction: column;
}
.auto {
    flex-basis: auto;
}
.grow {
    flex-grow: 1;
}
.a-start {
    align-items: flex-start;
}
.a-center {
    align-items: center;
}
.a-end {
    align-items: flex-end;
}
.j-start {
    justify-content: flex-start;
}
.j-center {
    justify-content: center;
}
.j-end {
    justify-content: flex-end;
}
.space-between {
    justify-content: space-between;
}

:-moz-any() {
 overflow-x: hidden !important;
 overflow-y: hidden !important;
}
:-moz-any() {
 overflow-x: scroll !important;
 overflow-y: scroll !important;
 margin-right: -14px !important;
 margin-bottom: -14px !important;
}

#container {
    position: fixed;
    z-index: -1000;
    width: 100%;
    height: 100%;
}
#container canvas {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#top {
    font-family: 'Russo One', sans-serif;
    background-color: rgba(255,255,255,0.75);
    padding: 3px;
}
#top > div {
    margin: 0 5px 0 5px;
}

#app-vers, #app-acct {
    width: 125px;
}

#app-acct {
    justify-content: flex-end;
}

#mid {
    pointer-events: none;
}

#mid-lcol, #mid-rcol, #modal {
    pointer-events: visible;
}

#mid-sep {
    height: 1px;
    background-image: linear-gradient(to right, #ddd, #666, #ddd);
}

.pop-lcol {
    position: absolute;
    display: none;
    top: -3px;
    left: 100%;
    z-index: 10;
}

.pop-lcol > div {
    flex-direction: column;
    align-items: center;
    margin: 2px;
    padding: 5px;
    background-color: rgba(255,255,255,0.75);
    border: 1px solid rgba(0,0,0,0);
    border-radius: 3px;
    width: 60px;
    color: #89a;
}

.pop-lcol > div:hover {
    background-color: #eee;
    border: 1px solid #aaa;
    color: #000;
}

.lt-menu {
    flex-direction: column;
    align-items: center;
    margin: 2px 0 2px 0;
    padding: 5px 5px 5px 10px;
    border: 1px solid rgba(0,0,0,0);
    border-radius: 3px;
    color: #89a;
    left: -5px;
    background-color: rgba(255,255,255,0.75);
}

.lt-menu svg {
    font-size: 40px;
    text-align: center;
}

.lt-menu label {
    font-size: smaller;
}

.lt-menu:hover {
    background-color: #eee;
    border: 1px solid #aaa;
    color: #000;
}

.lt-menu:hover .pop-lcol {
    display: flex;
}

#bot {
    text-align: center;
    font-size: smaller;
    height: 25px;
}

#progress {
    display: none;
    position: absolute;
    bottom: 0px;
    top: 0px;
    left: 10%;
    right: 10%;
    text-align: center;
    background-color: #ddd;
}
#progbar {
    width: 100%;
    text-align: left;
    position: relative;
    background-color: rgba(255,0,0,0.75);
}
#progtxt {
    color: white;
    height: 25px;
    padding: 0 5px 0 5px;
    margin: 0 5px 0 5px;
    white-space: nowrap;
    flex-direction: row;
    align-items: center;
    vertical-align: middle;
}

#modal {
    display: none;
    position: fixed;
    z-index: 10000;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background-color: rgba(0,0,0,0.5);
}

#slider {
    display: none;
    position: absolute;
    top: 5px;
    right: 3px;
    bottom: 5px;
    width: 50px;
    background-color: #f8f8f8;
    border: 1px solid #aaa;
    border-radius: 3px;
}

#slider > div {
    flex-direction: column;
    align-items: center;
}

#slider-begin {
    background-color: #ccc;
    border-bottom: 1px solid #aaa;
}

#slider-end {
    background-color: #ccc;
    border-top: 1px solid #aaa;
}

#slider-hold {
    background-color: #ccc;
    position: absolute;
    right: 0;
    left: 0;
    border: 3px solid white;
}

#slider-hold .shim {
    width: 100%;
    height: 10px;
    background-color: #aaa;
    border: 1px solid #999;
}

#alert-area {
    display: none;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 40px;
    left: 0;
    right: 0;
}
#alert-border {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 50%;
    background-color: rgba(230,245,255,0.8);
    border: 3px solid rgba(200,215,255,0.6);
    border-radius: 5px;
}
#alert-border:hover {
    background-color: rgba(230,245,255,0.9);
    border: 3px solid rgba(200,215,255,0.95);
}
#alert-text {
    display: flex;
    flex-direction: column;
    text-align: left;
    font-weight: bold;
    color: black;
    margin: 5px;
}
#alert-text p {
    margin: 5px;
    text-align: center;
}
