th, tr, td, span, div, label, button {
    user-select: none;
}
input[type=range]::-moz-focus-outer {
    border: 0;
}
.dialog {
    display: none;
    color: white;
    padding: 10px;
    border: 1px solid rgba(255,255,255,0.75);
    background-color: rgba(20,20,20,0.75);
    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;
    position: fixed;
    top: 5px;
}
.dialog span {
    padding: 2px 5px 2px 5px;
    margin: 0 5px 5px 5px;
    background-color: #333;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border: 1px solid #555;
    text-align: center;
}
.helper {
    position: relative;
    display: none;
}
.mono {
    unicode-bidi: embed;
    font-family: monospace;
    white-space: pre;
}
#selection {
    display: none;
    text-align: center;
    position: fixed;
    width: 100%;
    bottom: 3px;
}
#selection span {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 3px 8px 8px 8px;
    background-color: rgba(170,221,255,0.75);
    color: rgba(0,0,0,0.5);
}
#selection label {
    border: 0;
}
#selection .value {
    font-weight: bold;
    font-style: italic;
    color: black;
}
#selection button {
    margin-left: 1px;
    border: 1px solid rgba(255,255,255,0.75);
}
#appid {
    text-align: center;
    position: fixed;
    width: 100%;
    top: 3px;
}
#appid span {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px 8px 3px 8px;
    background-color: rgba(170,221,255,0.75);
    color: rgba(0,0,0,0.5);
}
#appid a {
    color: rgba(0,0,0,0.75);
    font-weight: bold;
}
#appid a:hover {
    color: rgba(0,50,50,0.75);
}
#container {
    width: 100%;
    height: 100%;
    overflow: hidden;
}
#loading {
    position: fixed;
    top: 30px;
    left: 20%;
    right: 20%;
    border: 2px solid rgba(10,10,10,0.25);
    border-radius: 5px;
    margin: 2px;
    background-color: rgba(200,200,200,0.75);
    text-align: center;
    display: none;
}
#progress {
    position: relative;
    width: 1%;
    height: 100%;
    background-color: #f00;
    text-align: left;
}
#progress > span {
    color: white;
    padding-left: 10px;
}
#modal {
    z-index: 20000;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background-color: rgba(0,0,0,0.2);
    display: none;
}

/** PRINT DIALOG */

#print {
    position: fixed;
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    text-align: center;
    top: 50px;
    left: 50%;
    color: white;
    border: 1px solid white;
    background-color: rgba(20,20,20,0.75);
    padding: 10px;
}
#print-close {
    position: absolute;
    z-index: 200;
    right: 3px;
    top: 3px;
}
#print > div {
    border: 1px solid #888;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 2px;
    margin: 6px 0 6px 0;
}
#print .print-sel:hover {
    border: 1px solid yellow;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
#print table {
    width: 100%;
}
#print th {
    text-align: left;
}
#print td {
    text-align: right;
}
#print input {
    text-align: right;
}
#print input[disabled] {
    background-color: #bbb;
    border-color: #ccc;
    color: black;
}
#print-density {
    disabled: false;
}
#grid-hint {
    font-style: italic;
    font-weight: lighter;
    font-size: 10px;
}
#octo-hint {
    font-style: italic;
    font-weight: lighter;
    font-size: 10px;
}
#print a {
    color: #8ae;
}
#print a:hover {
    color: #fff;
    background-color: #888;
}

/** sender dialog */

#sender {
    position: absolute;
    text-align: center;
    top: 5px;
    right: 0px;
    color: white;
    border: 1px solid white;
    background-color: rgba(20,20,20,0.75);
    padding: 10px;
    display: none;
}
#sender-bar {
    border: 0 !important;
    margin: 2px 2px 0 0 !important;
    padding: 0 !important;
    position: absolute;
    z-index: 200;
    right: 3px;
    top: 3px;
}
#sender-bar button {
    margin: 0;
}
#sender > div {
    border: 1px solid #888;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 2px;
    margin: 6px 0 6px 0;
}
#sender .sender-sel:hover {
    border: 1px solid yellow;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
#sender table {
    width: 100%;
}
#sender th {
    text-align: left;
}
#sender td {
    text-align: right;
}
#sender input[disabled] {
    background-color: #bbb;
    border-color: #ccc;
    color: black;
}
#v a {
    color: #8ae;
}
#sender a:hover {
    color: #fff;
    background-color: #888;
}
#sender-log {
    width: 100%;
    height: 100px;
    padding: 5px;
    overflow: auto;
    text-align: left;
    font-size: 11px;
    max-width: 100em;
}
#sender-set-zero, #sender-goto-zero, #sender-connect, #sender-port-close {
    width: 100%;
}
#sender-jog {
    flex-grow: 1;
}
#sender label {
    color: #ddd;
    background-color: #555;
    border: 1px solid #aaa;
    padding-top: 1px;
    padding-left: 3px;
    padding-right: 3px;
    padding-bottom: 1px;
}
#sender span {
    font-weight: normal;
}
#sender-control td {
    text-align: justify;
}
#sender-control input {
    margin-left: 2px;
}
#sender-control-buttons {
    float:right;
}
#sender-status {
    text-align: center;
    xbackground-color: #555 !important;
    xborder: 1px solid black !important;
    xmargin: 2px 2px 2px 0;
    xpadding: 2px 2px 2px 0;
}
#sender-quick button {
    flex-grow: 1;
}
#sender-coordinates input {
    text-align: right;
}

/** help dialog */

#help {
    position: fixed;
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    text-align: left;
    top: 50px;
    left: 50%;
    color: white;
    border: 1px solid white;
    background-color: rgba(20,20,20,0.75);
    padding: 10px;
}
#help-close {
    position: absolute;
    z-index: 200;
    right: 3px;
    top: 3px;
}
#help a {
    color: #8ae;
}
#help a:hover {
    color: #fff;
    background-color: #888;
}
#help p {
    font-weight: normal;
}
button.selected {
    background-color: white;
}

/** tool dialog */

#tools {
    text-align: center;
}
#tools button {
    margin-left: 1px;
    margin-right: 2px;
}
#tools span {
    border: 0;
    background: transparent;
}
#tools-body {
    height: 100%;
}
#tool-labels span {
    width: 200px;
    padding: 2px 5px 2px 5px;
    margin: 0 5px 5px 5px;
    background-color: #333;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border: 1px solid #555;
    text-align: center;
}
#tool-cols > div {
    width: 200px;
    padding: 5px;
    margin: 5px;
    border: 1px solid #aaa;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
#tool-info > div {
    margin-top: 2px;
    margin-bottom: 2px;
    flex-basis: auto;
    flex-shrink: 0;
}
#tool-action > button {
    text-align: center;
}
#tool-action > span {
    flex-grow: 1;
    width: 100%;
}
#tools label {
    text-align: left;
}
#tools input {
    background-color: #ddd;
    margin-bottom: 1px;
    text-align: right;
}
#tools input:focus {
    background-color: #dee;
}
#tool-list > select {
    flex-grow: 1;
    width: 100%;
    height: 100%;
    color: white;
    border: 0;
    margin-bottom: 2px;
    padding-bottom: 2px;
    background-color: transparent;
    overflow-y: auto;
    outline: none;
}
#tool-list select::-webkit-scrollbar {
    display: none;
}

/** device dialog */

#devices {
    text-align: center;
}
#devices button {
    margin-left: 1px;
    margin-right: 2px;
}
#devices span {
    border: 0;
    background: transparent;
}
#devices-body {
    height: 100%;
}
#device-labels span {
    width: 200px;
    padding: 2px 5px 2px 5px;
    margin: 0 5px 5px 5px;
    background-color: #333;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border: 1px solid #555;
    text-align: center;
}
#device-cols > div {
    width: 200px;
    padding: 5px;
    margin: 5px;
    border: 1px solid #aaa;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
#device-info > div {
    margin-top: 2px;
    margin-bottom: 2px;
    flex-basis: auto;
    flex-shrink: 0;
    position: relative;
}
#device-action > button {
    text-align: center;
}
#device-action > span {
    flex-grow: 1;
    width: 100%;
}
#devices label {
    text-align: left;
}
#devices input {
    background-color: #ddd;
    margin-bottom: 1px;
    text-align: right;
}
#devices input:focus {
    background-color: #dee;
}
#device-list select {
    flex-grow: 1;
    width: 100%;
    height: 100%;
    color: white;
    border: 0;
    margin-bottom: 2px;
    padding-bottom: 2px;
    background-color: transparent;
    overflow-y: auto;
    outline: none;
}
#device-list select::-webkit-scrollbar {
    display: none;
}
#device-list option[local="1"] {
    color: #ff5;
}
#device label {
    white-space: nowrap;
}
#device textarea {
    overflow: hidden;
    font-family: monospace;
}

/** file catalog */

#import {
    width: 100%;
}
button[import="1"] {
    width: 5px;
    padding-left: 2px;
    padding-right: 2px;
}
#catalog {
    text-align: center;
    min-height: 25%;
    max-height: 75%;
    height: 1000px;
}
#catalog div {
    position: relative;
}
#catalogBody {
    height: 100%;
}
#catalogBody div::-webkit-scrollbar {
    display: none;
}
#catalogList {
    overflow-y: scroll;
    overflow-x: hidden;
}
#catalogList button {
    margin: 0px 0px 2px 2px;
    overflow-x: hidden;
    text-overflow: ellipsis;
}

/** saved settings list */
#settings button {
    margin: 1px;
}

/** layer slider and controls */

#layer-view {
    display: none;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    height: 25px;
    text-align: center;
    vertical-align: middle;
}
#layer-view span {
    position: relative;
    border-radius: 5px;
    padding: 3px 8px 8px 8px;
    background-color: rgba(170,221,255,0.75);
    color: rgba(0,0,0,0.5);
}
#layer-view input {
    vertical-align: middle;
}
#layer-view button {
    position: relative;
    margin-left: 1px;
    border: 1px solid rgba(255,255,255,0.75);
}
#layer-slider {
    border: 0;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 50%;
}
#layers {
    display: none;
    position: fixed;
    bottom: 25px;
    background-color: rgba(0,0,0,0.2);
    border: 1px solid rgba(0,0,0,0.5);
    border-radius: 3px;
    padding: 6px;
    -webkit-transform: translate(-10px, 0);
    transform: translate(-10px, 0);
}
#layers label {
    text-align: left;
    color: rgba(0,0,0,0.85);
}

.poptext {
    display: none;
    position: absolute;
    margin-left: 30px;
    border: 3px solid gray;
    border-radius: 3px;
    transform: translate(0, -25%);
    z-Index: 10000;
}
.poptext textarea {
    opacity: 0.95;
    overflow-y: scroll !important;
}
.poptext label {
    width: 100% !important;
    text-align: center !important;
    background-color: rgba(0,0,0,0.8);
    padding: 3px 0 3px 0;
    color: white;
}
