/** atom3dp css */

button {
    color: #000;
    border: 1px solid rgba(20,20,20,0.5);
    background-color: rgba(210,210,210,0.8);
    padding: 2px 7px 3px 7px;
    margin-bottom: 2px !important;
}
button:hover {
    border-color: #000;
    background-color: #fff;
}
label {
    border-bottom: 1px solid rgba(220,220,225,1);
}
.dialog {
    background-color: rgba(220,220,220,0.75);
    border-color: #bbb;
    color: #000;
}

#device-cols > div {
    background-color: rgba(250,250,250,0.75);
}
#device-list select {
    color: #000;
}
#device-list option[local="1"] {
    color: #00f;
}
#device-labels span {
    background-color: rgba(170,221,255,0.75);
    border: 1px dashed #aaa;
    color: black;
}

#tool-cols > div {
    background-color: rgba(250,250,250,0.75);
}
#tool-list select {
    color: #000;
}
#tool-list option[local="1"] {
    color: #00f;
}
#tool-labels span {
    background-color: rgba(170,221,255,0.75);
    border: 1px dashed #aaa;
    color: black;
}

#catalog span {
    margin-left: 0;
    margin-right: 0;
    background-color: rgba(170,221,255,0.75);
    border: 1px dashed #aaa;
    color: black;
}
#catalog button {
    background-color: rgba(250,250,250,0.8);
}
#catalog button:hover {
    background-color: rgba(200,200,200,0.8);
}

#settings span {
    margin-left: 0;
    margin-right: 0;
    background-color: rgba(170,221,255,0.75);
    border: 1px dashed #aaa;
    color: black;
}
#settings button {
    background-color: rgba(250,250,250,0.8);
}
#settings button:hover {
    background-color: rgba(200,200,200,0.8);
}

.grouphead {
    color: black;
    border-top-left-radius: 3px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 0;
    border: 1px dashed #aaa;
    margin-top: 5px;
    margin-bottom: 3px;
    padding: 3px 2px 2px 3px;
    background-color: rgba(170,221,255,0.75);
    font-weight: bold;
    font-size: 12px;
}
#control-left {
    border-top: 0;
    border-bottom: 0;
    background-color: rgba(220,220,225,0.25);
}
#control-right {
    color: #000;
    border-top: 0;
    border-bottom: 0;
    background-color: rgba(220,220,225,0.25);
}
#appid span {
    x-background-color: rgba(220,220,225,0.5) !important;
}
#selection span {
    background-color: rgba(220,220,225,0.5) !important;
}
#layer-view span {
    background-color: rgba(220,220,225,0.5) !important;
}
