:root {
    --fg-gray: #495057;
    --bg-gray: rgba(0,0,0,0.25);
    --gradbar: linear-gradient(to right, #ddd, #666, #ddd);
    --holdbar: linear-gradient(to top, rgba(100,100,100,0.1), rgba(255,255,255,1), rgba(100,100,100,0.1));
    --holdbar-sf: linear-gradient(to top, rgba(200,200,200,0.1), rgba(255,255,255,1), rgba(200,200,200,0.1)) !important;
    --highlight: rgba(126,153,183,0.4);
    --main-color: rgba(126,153,183,1);
}

@font-face {
    font-family: 'Russo One';
    src: url('/moto/russo-one.ttf');
}

a, a:hover, a:visited {
    border: none;
    color: inherit;
    text-decoration: none;
}

body, div {
    position: relative;
    display: flex;
    padding: 0;
    border: 0;
    margin: 0;
}

#app {
    position: fixed;
    overflow: hidden;
    flex-direction: column;
    font-family: sans-serif;
    font-weight: normal;
    font-size: larger;
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;
}

#app-info {
    z-index: 50;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    cursor: pointer;
    flex-direction: column;
    align-items: center;
}

#app-info:hover #app-vers {
    display: flex;
}

#app-vers {
    display: none;
    position: absolute;
    white-space: nowrap;
    font-size: smaller;
    font-family: sans-serif;
    margin-top: 5px;
    padding: 5px;
    transform: translateX(-50%);
    left: 50%;
    top: 100%;
    color: var(--fg-gray);
    border-radius: 3px;
    border: 1px solid #ddd;
    background-color: white;
}

#app-body {
    flex-grow: 1;
}

#app-body > div {
    z-index: 2;
}

#curtain {
    z-index: 50000;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    background-color: #fff;
    font-family: 'Russo One', sans-serif;
    justify-content: center;
    align-items: center;
}

#container {
    z-index: 1;
    position: fixed;
    width: 100%;
    height: 100%;
}

#container canvas {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#top {
    z-index: 2;
    padding: 3px;
    flex-direction: row;
    font-family: 'Russo One', sans-serif;
    background-color: rgba(255,255,255,0.75);
}

#top > div {
    margin: 0 5px 0 5px;
}

#top-sep {
    z-index: 2;
    height: 1px;
    background-image: var(--gradbar);
}

.noselect {
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

:-moz-any() {
    overflow-x: hidden !important;
    overflow-y: hidden !important;
}
:-moz-any() {
    overflow-x: scroll !important;
    overflow-y: scroll !important;
    margin-right: -14px !important;
    margin-bottom: -14px !important;
}

button {
    padding: 2px 3px 2px 3px;
    border: 1px solid rgba(150,150,150,0.5);
    background-color: rgba(220,220,220,0.5);
}

button:hover {
    background-color: rgba(200,200,200,1);
}

/** common child look & feel */

#actions > div, #grouplist > div {
    border: 1px solid gray;
    border-radius: 3px;
    margin: 0 0 2px 0;
    padding: 3px;
}

#actions .vsep, #grouplist .vsep {
    margin: 1px 0 1px 0;
    border-bottom: 1px dashed gray;
}

/** action and keyboard menu **/

#actions {
    flex-direction: column;
    position: absolute;
    margin: 3px 0 0 3px;
    left: 0;
    top: 0;
}

#actions > div {
    flex-direction: column;
    gap: 2px;
}

/** group/model buttons top/right of workspace */

#grouplist {
    position: absolute;
    margin: 3px 3px 0 0;
    right: 0;
    top: 0;
}

#grouplist, #grouplist div {
    flex-direction: column;
    background-color: transparent;
    gap: 2px;
}

#grouplist .group {
    font-weight: bold;
    padding: 3px;
}

#grouplist .models {
    gap: 2px;
}

#grouplist .models button {
    text-align: left;
}

#grouplist .selected {
    background-color: rgba(0,255,0,0.5)
}

#grouplist .selected:hover {
    background-color: rgba(0,255,0,1)
}

/** selection info bottom/right of workspace */

#selectlist {
    font-size: smaller;
    position: absolute;
    margin: 0 3px 3px 0;
    bottom: 0;
    right: 0;
    gap: 2px;
}

#selectlist > div {
    flex-direction: column;
    gap: 2px;
}

#selectlist label {
    border-radius: 3px;
    font-family: monospace;
    text-align: right;
    padding: 2px;
    background-color: rgba(0,0,0,0.05);
}

#selectlist .top {
    display: block;
    font-weight: bold;
    font-size: smaller;
    text-align: center;
}

#selectlist .side {
    font-weight: bold;
    font-size: smaller;
    align-items: center;
    justify-content: flex-end;
}

#selectlist .grid {
    background-color: rgba(255,255,255,0.8);
    border: 1px solid rgba(0,0,0,0.15);
    border-radius: 3px;
    padding: 3px;
    display: grid;
    gap: 2px 2px;
    grid: min-content 1fr 1fr / min-content 1fr 1fr 1fr;
}

#selectlist .grid2 {
    grid: min-content 1fr / min-content 1fr;
}
