/** ******************************************************************
 * Element
 ******************************************************************* */

a, a:hover, a:visited {
    border: none;
    outline: none;
    color: inherit;
    text-decoration: none;
}
body {
    overflow: hidden;
}
body,div {
    margin: 0px;
    padding: 0px;
    border: 0px;
    font-weight: normal;
    font-family: sans-serif;
}
label {
    font-size: 14px;
    margin-right: 2px;
}
canvas {
    width: 100%;
    height: 100%;
    overflow: hidden;
}
button {
    outline: none;
    max-width: 25ex;
    border: 1px solid #ccc;
    border-radius: 3px;
    background-color: #eee;
    padding: 2px 7px 3px 7px;
    margin-bottom: 2px !important;
}
button:hover {
    background-color: #aaa;
    color: black;
}
button[load] {
    width: 100%;
    text-align: left;
}
button[del] {
    margin-left: 5px;
}
select {
    outline: none;
}
th, tr, td, span, div, label, button {
    user-select: none;
}

/** ******************************************************************
 * Class
 ******************************************************************* */

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.title {
    text-align:center;
    border-radius: 4px;
    border-bottom: 2px;
    color: #222;
    padding: 4px 5px 3px 5px;
    margin-bottom: 2px;
    background-color: rgba(170,221,255,0.75);
    border: 1px solid rgba(255,255,255,0.5);
    font-size: 12pt !important;
    font-weight: bold !important;
}
.tablerow {
    -webkit-flex-direction: row;
    -webkit-justify-content: center;
    -webkit-align-items: center;
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.tablerow button {
    -webkit-flex-basis: auto;
    -webkit-flex-grow: 1;
    flex-grow: 1;
    flex-basis: auto;
    width: 33.33%;
}
.grouphead:first-of-type {
    margin-top: 0;
}
.dark .grouphead {
    background-color: rgba(100,120,150,0.75);
    border: 1px solid #555;
    color: #eee;
    font-weight: normal;
}
.grouphead {
    color: black;
    background-color: rgba(170,221,255,0.7);
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-top: 5px;
    margin-bottom: 3px;
    padding: 3px 2px 2px 3px;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
}
.grouphead > a {
    text-transform: uppercase;
}
.grouphead:hover {
    cursor: default;
}
.ck_catalog {
    padding-top: 2px;
}
.ck_catalog div {
    -webkit-flex-direction: row;
    -webkit-justify-content: center;
    -webkit-align-items: center;
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 1px;
}
.ck_catalog button {
    margin: 0px 0px 1px 2px !important;
}
.buton {
    font-weight: bold;
    background-color: #bbb;
}
.flow-row {
    position: relative;
    -webkit-flex-direction: row;
    -webkit-justify-content: flex-end;
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.flow-row label {
    -webkit-flex-basis: auto;
    -webkit-flex-grow: 1;
    flex-basis: auto;
    flex-grow: 1;
}
.flow-col {
    position: relative;
    -webkit-flex-direction: column;
    -webkit-justify-content: flex-start;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.flow-left {
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
}
.flow-grow {
    -webkit-flex-grow: 1;
    flex-grow: 1
}
.flow-space-between {
    -webkit-justify-content: space-between;
    justify-content: space-between;
}

:-moz-any(#control-left) {
 overflow-x: hidden !important;
 overflow-y: hidden !important;
}
:-moz-any(#control-right) {
 overflow-x: scroll !important;
 overflow-y: scroll !important;
 margin-right: -14px !important;
 margin-bottom: -14px !important;
}
.dark .control {
    border: 0 !important;
    background-color: rgba(255,255,255,0.5);
}
.dark .control button {
    border: 1px solid rgba(128,128,128,0.5);
}
.control {
    background-color: rgba(255,255,255,0.75);
}
.control label {
    padding: 2px;
}
.control input {
    background-color: #eee;
    margin-bottom: 1px;
    text-align: right;
    border: 1px solid #bbb;
}
.control input:focus {
    background-color: #fec;
    outline: none;
}
.control input[disabled] {
    background-color: #ccc;
    color: #000;
    border-width: 1px;
}
.control input[type="range"] {
    width: 85px;
    background-color: transparent;
}
.control select {
    border: 1px solid #bbb;
    background-color: #eee;
    margin-bottom: 1px !important;
    border-radius: 3px;
}
.control button {
    margin: 1px;
}
.control .flow-row {
    align-items: center;
    justify-content: center;
}

/** ******************************************************************
 * ID
 ******************************************************************* */

.dark #appid span {
    border-color: #555;
    background-color: rgba(100,120,150,0.75);
    color: #eee;
}
.dark #appid a {
    color: #eee;
}
.dark #appid a:hover {
    color: #eee;
}
.dark #appid span:hover {
    background-color: rgba(80,100,230,0.75);
}
.dark #langpop {
    color: black;
}
#appid {
    text-align: center;
    position: fixed;
    width: 100%;
    top: 3px;
}
#appid span {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px 8px 3px 8px;
    background-color: rgba(170,221,255,0.75);
    color: rgba(0,0,0,0.5);
}
#appid span:hover {
    background-color: rgba(170,221,255,0.5);
}
#appid a {
    color: rgba(0,0,0,0.75);
    font-weight: bold;
}
#appid a:hover {
    color: rgba(0,50,50,0.75);
}
#apphelp {
    margin-left: 5px;
    font-weight: bold;
}
#applang {
    position: relative;
    margin-right: 5px;
    font-weight: bold;
}
#langpop {
    display: none;
    position: absolute;
    white-space: nowrap;
    top: 105%;
    left: 0;
    border-radius: 5px;
    border: 1px solid #ddd;
    background-color: rgba(255,255,255,0.75);
    padding: 5px;
}
#langpop > div {
    padding: 5px;
}
#langpop > div:hover {
    background-color: rgba(255,128,128,0.5);
    border-radius: 5px;
}
#applang:hover #langpop {
    display: block;
}
#container {
    width: 100%;
    height: 100%;
}
#control > div:hover label {
    text-decoration: underline;
    text-decoration-color: #aaa;
}
#control-left {
    display: none;
    position: fixed;
    z-index: 10000;
    color: black;
    top: 5px;
    left: 0px;
    padding: 5px;
    border-top: 2px solid #ddd;
    border-right: 2px solid #ddd;
    border-bottom: 2px solid #ddd;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    overflow-x: visible;
    overflow-y: scroll;
}
#control-right {
    display: none;
    position: fixed;
    z-index: 10000;
    top: 5px;
    right: 0px;
    bottom: 5px;
    padding: 5px;
    border-top: 2px solid #ddd;
    border-left: 2px solid #ddd;
    border-bottom: 2px solid #ddd;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    color: #222;
    overflow-y: scroll;
    overflow-x: visible;
}
.dark .compact .grouphead {
    background-color: rgba(100,120,150,0.75);
    border: 1px solid #555;
    color: #eee;
}
.dark .compact .grouphead:hover {
    background-color: rgba(80,100,230,0.75);
}
.dark .compact.control {
    background-color: rgba(128,128,128,0.2) !important;
}
.compact {
    overflow: visible !important;
    bottom: auto !important;
    border: 0 !important;
    background-color: rgba(255,255,255,0.5) !important;
}
.compact .grouphead {
    padding: 10px 5px 10px 5px !important;
    background-color: rgba(170,221,255,0.25);
}
.compact .grouphead:hover {
    background-color: rgba(170,221,255,0.9);
}
.compact .grouphead a {
    font-size: larger !important;
    margin: 5px !important;
}
.compact .flow-row label {
    font-size: 18px !important;
}
.compact .flow-row input {
    font-size: 18px !important;
}
.compact .flow-row select {
    font-size: 18px !important;
}
.compact .flow-row {
    margin: 3px 0 3px 0;
}
.compact .asym {
    width: auto !important;
}
.compact button {
    font-size: larger !important;
    padding: 5px 10px 5px 10px;
}
:-moz-any(#control-left.compact) {
 overflow-x: display !important;
 overflow-y: display !important;
}
:-moz-any(#control-right.compact) {
 overflow-x: display !important;
 overflow-y: display !important;
 margin-right: auto !important;
 margin-bottom: auto !important;
}
#control-left::-webkit-scrollbar, #control-right::-webkit-scrollbar {
    display: none;
}
.dark #control-left:hover, .dark #control-right:hover {
    background-color: rgba(255,255,255,0.6);
}
#control-left:hover, #control-right:hover {
    background-color: #ffffff;
}
#loading {
    position: fixed;
    top: 5px;
    left: 20%;
    right: 20%;
    border: 1px solid white;
    margin: 2px;
    background-color: #ddd;
    text-align: center;
    display: none;
}
#modal {
    display: none;
    position: fixed;
    z-index: 20000;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background-color: rgba(0,0,0,0);
}
#progress {
    position: relative;
    width: 1%;
    height: 100%;
    background-color: #f00;
}
#welcome {
    color: white;
    padding: 10px;
    border: 10px solid white;
    background-color: rgba(20,20,20,0.75);
    position: fixed;
    top: 50px;
    left: 0;
    right: 0;
    bottom: 100px;
    margin: 0 auto;
    width: 50%;
    max-width: 800px;
    min-width: 500px;
    display: block;
    unicode-bidi: embed;
    font-family: monospace;
    white-space: pre;
    overflow-y: scroll
}
